@import './fonts.css';
@import './fonts-2.css';

p {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'RoundedMplus1x-Bold';
}

.fa-blender-phone {
  color: green;
  font-size: 70px;
}

.fa-github {
  color: red;
  font-size: 60px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
  color: red;
}

.card {
  width: 200px;
  height: 400px;
  border: 1px solid #000;
  font-family: 'RoundedMplus1x-Bold';
}

.button {
  height: 40px;
  background-color: blueviolet;
}

.button--green {
  background-color: green;
  color: white;
}

.card__button {
  height: 30px;
  background-color: aqua;
}

.card__button--disabled {
  color: grey;
  background-color: aliceblue;
}
