.parent-block {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: burlywood;
}

.child-block {
  width: 50%;
  height: 50%;
  background-color: brown;
  animation: loop 4s ease-in forwards infinite 1s;
}

.parent-block:hover .child-block {
  /* animation-name: left-to-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.7, 0.04, 0.66, 1.71); */
  animation-play-state: paused;
}

@keyframes left-to-right {
  100% {
    transform: translateX(100%) rotate(180deg);
  }
}

@keyframes loop {
  0% {
    transform: translate(0);
  }

  12.5% {
    transform: translateX(50%) translateY(50%);
  }

  25% {
    transform: translate(0, 100%);
    /* background-color: aqua; */
  }

  37.5% {
    transform: translate(50%, 50%);
  }

  50% {
    transform: translate(100%, 100%);
    /* border-radius: 50%; */
  }

  62.5% {
    transform: translate(50%, 50%);
  }

  75% {
    transform: translate(100%, 0);
    /* background-color: cornflowerblue; */
  }

  87.5% {
    transform: translate(50%, 50%);
  }

  100% {
    transform: translate(0);
  }
}

.animate__rubberBand:hover {
  animation-iteration-count: infinite;
}
