.container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar section section section'
    'footer footer footer footer';
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-rows: 200px 200px 200px;
  gap: 20px;
}

.item {
  padding: 20px;
  border: 1px solid #000;
  background-color: blanchedalmond;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  /* align-self: start; */
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}
